.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 40px;
    background-image: url(photos/hero-group-nike-main.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}






.sign-contraine {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 107, 107);
    height: 150px;
    font-size: 40px;
}

.sign-header {
    position: relative;
    left: -50px;
    display: flex;
    background-color: transparent;
    font-weight: 400;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-family: 'Koulen', cursive;
    color: rgb(46, 46, 46);
    font-size: 50px;
  }
  .sign-header div {
    position: relative;
    font-family: 'Koulen', cursive;
  }
  .sign-header span {
    font-family: 'Koulen', cursive;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
  }
  
  .para-join-now {
    position: relative;
    left: 120px;
  
  }
  
  .join-now {
    font-size: 25px;
    padding-top: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 57px;
    border: none;
    font-weight: 800;
    color: white;
    background-color: rgb(46, 46, 46);
    z-index: 100;
    font-family: 'Koulen', cursive;
  }
  .para-button-back {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: 6px 5px;
    transform: translate(-50%, -50%);
    height: 56px;
    width: 249px;
    border: 1px solid rgb(46, 46, 46);
    background-color: transparent;
    z-index: 10;
  }

.footer-container {
    background-color: rgb(46, 46, 46);
    height: 100vh;
}
.footer-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  padding: 10%;
  gap: 100px;
  color: white;
}
.footer-grid h1 {
  padding-block: 30px;
  font-family: 'Koulen', cursive;
  line-height: 30px;
}
.footer-grid ul li{
  list-style-type: none;
  padding-block: 10px;
  font-size: 15px;
}